.Tables div {
    padding: 20px;
    background: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid black;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Tables div > h3 {
    text-align: center;
}

.Tables div > form {
    display: flex;
    flex-direction: column;
}

.Tables div > form > input {
    margin-bottom: 5px;
    padding: 5px 10px;
}